<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>New Review</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/new_rev_style.css') }}"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </head>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="/news">
              <img src="{{ url_for('static', filename='pictures/logo.png') }}" alt="" width="35" height="30" class="d-inline-block align-text-top">
              Films
          </a>
        <form class="container-fluid justify-content-start" method="POST">
          <button class="btn btn-outline-secondary" type="submit" name="header_btn" value="Home">Домой</button>
          <button class="btn btn-outline-secondary" type="submit" name="header_btn" value="Profile">Профиль</button>
          <button class="btn btn-outline-secondary" type="submit" name="header_btn" value="Generate">Сгенерировать фильм</button>
        </form>
        <div class="d-flex">
              <button class="btn btn-outline-dark" type="button" name="header_btn" value="search" data-bs-toggle="modal" data-bs-target="#exampleModal">Найти</button>
              <!-- Modal -->      
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form method="POST">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Поиск фильма по параметрам</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <label for="exampleFormControlInput1" class="form-label">Название фильма</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" name="movie_title">
                          <br>

                        <select class="form-select" aria-label="Default select example" name="genreOfFilm">
                        <option selected>Жанр</option>
                            <option value="Анимэ">Анимэ</option>
                              <option value="Биография">Биография</option>
                              <option value="Боевик">Боевик</option>
                              <option value="Вестерн">Вестерн</option>
                              <option value="Военный">Военный</option>
                              <option value="Детектив">Детектив</option>
                              <option value="Документальный">Документальный</option>
                              <option value="Документальный">Драма</option>
                              <option value="История">История</option>
                              <option value="Комедия">Комедия</option>
                              <option value="Мелодрама">Мелодрама</option>
                              <option value="Мультфильм">Мультфильм</option>
                              <option value="Приключения">Приключения</option>
                              <option value="Триллер">Триллер</option>
                              <option value="Ужасы">Ужасы</option>
                             <option value="Фантастика">Фантастика</option>
                      </select>
                      <br>

                      <label for="exampleFormControlInput1" class="form-label">Год выпуска</label>
                          <input type="text" class="form-control year" id="exampleFormControlInput1" name="movie_year">
                          <br>

                          <label for="type_of_sort_select" class="form-label">Сортировать по</label>
                          <select class="form-select" aria-label="Default select example" name="type_of_sort" id="type_of_sort_select">
                          <option value="title_filter" selected="">Названию</option>
                          <option value="year_filter">Году выхода</option>
                          <option value="marks_filter">Оценкам</option>
                          <option value="count_filter">Количеству отзывов</option>
                      </select>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                      <button type="submit" name="submit_btn" class="btn btn-primary">Найти</button>
                    </div>
                  </div>
              </div>
            </form>
          </div>
          </div>
          <form method="POST">
            <button type="submit" class="btn btn-outline-secondary" name="header_btn" value="Logout">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
          </svg>
                </button>
              </form>
      </div>
    </nav>
    </header>
    <body>
      {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      <div class="main_form">
        <form class="login_form" method="POST">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Название фильма</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="movie_title" value="{{ film_title }}" required>
          </div>
          <div>
            <label for="customRange3" class="form-label">Ваша оценка</label>
            <br>
            <h5 class="marks_range">0</h5>
            <h5 class="marks_range">1</h5>
            <h5 class="marks_range">2</h5>
            <h5 class="marks_range">3</h5>
            <h5 class="marks_range">4</h5>
            <h5 class="marks_range">5</h5>
            <input type="range" class="form-range" min="0" max="5" step="1" id="customRange3" name="mark" value="{{ mark_value }}" required="required">
          </div>
          <select class="form-select" aria-label="Default select example" name="genreOfFilm" required="required">
            <option label="Выберите жанр"></option>
            <option value="Анимэ">Анимэ</option>
            <option value="Биография">Биография</option>
            <option value="Боевик">Боевик</option>
            <option value="Вестерн">Вестерн</option>
            <option value="Военный">Военный</option>
            <option value="Детектив">Детектив</option>
            <option value="Документальный">Документальный</option>
            <option value="Документальный">Драма</option>
            <option value="История">История</option>
            <option value="Комедия">Комедия</option>
            <option value="Мелодрама">Мелодрама</option>
            <option value="Мультфильм">Мультфильм</option>
            <option value="Приключения">Приключения</option>
            <option value="Триллер">Триллер</option>
            <option value="Ужасы">Ужасы</option>
            <option value="Фантастика">Фантастика</option>
          </select>
          <br>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Год выпуска</label>
            <input type="text" class="form-control year" id="exampleFormControlInput1" name="movie_year" value="{{ year_film }}" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Напишите свой отзыв</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="feedback">{{ review_user }}</textarea>
          </div>
          <button type="submit" name="btn" class="btn btn-primary" value="add_review">{{ btn_text }}</button> 
        </form>
      </div>
    </body>
</html>